*, *::before, *::after{
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.header {
    min-height: 1395px;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    background-size: contain;
    background-repeat: no-repeat; 
    background-image: url(../img/big-screen.svg);
}

.main_logo{
    color: #FFFFFF;
    margin: auto;
    width: 1080px;
    padding-top: 40px; 
}

.main_tittle {
    width: 1080px;
    height: 330px;
    margin-top: 178px;
    margin-left: auto;
    margin-right: auto;
}

.tittle{
    color: #FFFFFF;
    margin: 0 0;
    width: 768px;
    height: 330px;
    font-size: 110px;
    line-height: 110px;
    letter-spacing: -1px;
}

.main_block{
    width: 1080px;
    height: 800px;
    margin-top: 91px;
    margin-left: auto;
    margin-right: auto;
}

.Karen{
    position: relative;
    width: 361px;
    height: 361px;
    top: -72px;
    
}

.dot_left{
    position: relative;
    width: 100px;
    height: 68px;
    left: -45px;
    top: 270px;
}

.dot_right{
    position: relative;
    width: 100px;
    height: 68px;
    left: 1037px;
    top: -285px;
}

.trailer{
    position: relative;
    width: 179px;
    height: 179px;
    top: -75px;
    left: 360px;
}

.testimonial{
    position: relative;
    top: -435px;
    left: 539px;
}

.Audio{
    position: relative;
    top: -560px;
    left: 760px;
}

.play{
    position: relative;
    top: -560px;
    left: 1030px;
}

.CTA{
    position: relative;
    top: -1170px;
    left: 905px;
}

.box{
    position: relative;
    top: -1290px;
    left: 1085px;
}

.About{
    position: relative;
    top: -1051px;
    left: 539px;
}

.blog_block{
    width: 1080px;
    height: 2046px;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFFFFF;
}

.blogs_tittle {
    width: 742px;
    height: 200px;
    margin-top: 120px;
}

.blog_tittle {
    font-size: 90px;
    letter-spacing: -0.82px;
    line-height: 100px;
    color: black;
    margin: 0 0;
}

.Card_1{
    position: relative;
    width: 540px;
    height: 582px;
    padding-top: 110px;
}

.Card_2 {
    position: relative;
    width: 360px;
    height: 614px;
    padding-left: 720px;
    margin-top: -360px;
}

.Card_3 {
    position: relative;
    width: 360px;
    height: 614px;
    margin-top: -40px;
}

.Card_4 {
    position: relative;
    width: 540px;
    height: 582px;
    padding-left: 540px;
    margin-top: -430px;
}

.main_bottom{
    width: 1080px;
    height: 1315px;
    margin-left: auto;
    margin-right: auto;
}

.bottom_tittle {
    width: 575px;
    height: 200px;
}
.bot_tittle {
    font-size: 90px;
    letter-spacing: -0.82px;
    line-height: 100px;
    color: black;
    margin: 0 0;
}

.paras{
    width: 1080px;
    height: 820px;
    padding-top: 105px;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFFFFF;
}


.para_1 {
    position: relative;
    width: 1080px;
    height: 154px;
}

.para_2 {
    position: relative;
    margin-top: 51px;
    width: 1080px;
    height: 154px;
}

.para_3 {
    position: relative;
    margin-top: 51px;
    width: 1080px;
    height: 154px;
}


.para_4 {
    position: relative;
    margin-top: 51px;
    width: 1080px;
    height: 154px;
}
